.check-page {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1140px;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-right: auto;
    margin-left: auto;
}

.cart {
    flex: 25%;
    background-color: rgb(253, 253, 150);
}

.person-info {
    flex: 75%
}

.row {
    display: flex;
    flex-wrap: wrap;
}

#personal {
    background-color: rgb(119, 220, 119);
}

#credit {
    background-color: rgb(222, 165, 164);
}