.content {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.movie-info {
    max-width: 1140px;
    padding-right: 3rem;
    padding-left: 3rem;
    margin-right: auto;
    margin-left: auto;
}

.row {
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) / -2);
    margin-left: calc(var(--bs-gutter-x) / -2);
}

.col {
    flex: 0 0 auto;
    width: 50%;
}

.movie-poster {
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
    width: 70%
}

.movie-title {
    font-size: calc(1.425rem + 2.1vw);
    font-weight: 300;
    line-height: 1.2;
    font-weight: bolder;
}

.review-rating-block {
    font-size: 1.25rem;
    margin-bottom: 3rem;
}

.movie-overview {
    font-size: 1.25rem;
    font-weight: 300;
}

.extra-details {
    margin-top: 1rem;
    margin-bottom: 0.25rem;
    font-size: 0.85em;
}

.ticket-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    border-radius: 25px;
    background: rgba(107, 105, 105, 0.726);
}

.ticket-btn-grp {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    margin: 10px 0px;
}

.ticket-btn-msg {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.75rem;
    line-height: 1rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
    min-width: 97px;
    width: 100%;
}

.ticket-type {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ffffff;
    font-size: 1.75rem;
    font-weight: 600;
}

.ticket-btn {
    padding: 1rem 1rem;
    margin: 1.5rem 1.5rem;
}

.dummy-btn {
    padding: 1rem 1rem;
    margin: 1.5rem 1.5rem;
    min-width: 32px;
}

.ticket-btn:hover {
    cursor: pointer;
}

.ticket-btn:active {
    background: rgba(0, 0, 0, 0.5);
}

.ticket-btn:disabled {
    opacity: 0.5;
    pointer-events: none;
}

body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.5;
    color: #ffffff;
    background-color: rgb(0, 0, 0);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

img {
    vertical-align: middle;
}