.nav-button-container {
	position: fixed;
	margin: 50px;
	bottom: 0;
}

.back-button-container {
	left: 0;

	display: flex;
	justify-content: center;
}

.next-button-container {
	right: 0;

	display: flex;
	justify-content: center;
}

.nav-button {
	position: static;

	/*background: blue;*/
	transition-duration: 250ms;
	z-index: 1;
}

.nav-button:hover {
	transition-duration: 250ms;
	padding-bottom: 10px;
	cursor: pointer;

	/*background: red;*/
}

.name {
	font-size: 0.75em;
	/*background: red;*/

	position: absolute;
	bottom: -10px;

	display: flex;
	justify-content: center;

	visibility: hidden;
	z-index: -1;
}

.nav-button:hover ~ .name {
	visibility: visible;

	/*transition-duration: inherit;*/
}
