.nav-button-container {
	position: fixed;
	margin: 50px;
	bottom: 0;
}

.back-button-container {
	left: 0;
}

.next-button-container {
	right: 0;
}

.nav-button {
	transition-duration: 250ms;
}

.nav-button:hover {
	transition-duration: 250ms;
	padding-bottom: 10px;
	cursor: pointer;
}