.summary-container {
	display: flex;
	flex-direction: column;
	justify-content: center;

	margin: 50px auto auto;
	border: 1px white solid;

	width: 40%;

	font-size: 0.8em;
	
	background: rgba(0, 0, 0, 0.459);
    padding: 5px 10px;
    border-radius: 10px;
    color: rgba(228, 233, 237, 1);
}

.page-name-container {
	display: flex;
	flex-direction: column;

	padding-top: 10px;
	padding-bottom: 20px;
}

#page-name {
	margin: auto;
	font-size: 1.5em;
}

.summary {
	margin: auto;
	width: fit-content;

	display: flex;
	flex-direction: column;
	justify-items: center;
}

.summary > p {
	width: inherit;

	margin: auto;
	padding-bottom: 10px;
}

.thank-you-container {
	width: 25%;
	margin: 50px auto auto;
	font-size: 1em;

	background: rgba(10, 100, 20, 0.55);
	padding: 10px;
	border-radius: 10px;
	color: rgba(228, 233, 237, 1);
}

.thank-you-container > p {
	width: fit-content;
	margin: auto;
}
